html {
    background: #234F32;
    height: 100%;
}

body  {
    margin: 0;
    font-family: sans-serif;
    background: #fff;
    width: 90%;
    height: 100%;
    margin: auto;
}

div {
    padding: 5px;
}

#head {
    color: #fff;
    background: #092E20;
    overflow: auto;
    height: 120px;
}

#head h1 {
    float: left;
    font-size: 42px;
}

#searchbox {
    float: right;
}

#actions {
    text-align: right;
    background: #9AEF3F;
}

#article {
    background: #fff;
}

#article h1 {
    border-bottom: 1px solid #000;
}

p {
    text-align: justify;
}

p label {
    display: block;
}

p.required label {
    font-weight: bold;
}

table, th , tr, td {
    border-spacing: 0;
}

table {
    width: 100%;
    margin-bottom: 6px;
}

.tbheader {
    background: #ccc;
}

.tbodd {
    background: #fff;
}

.tbeven {
    background: #eee;
}

ul.errorlist {
    padding:  0;
    margin:  15px;
    list-style:  none;
}

ul.errorlist li:before {
    content: "<!> ";
}

ul.errorlist li {
    background: #C00;
    color: #FFF;
}

#footer {
    border-top: 1px solid #ccc;
    text-align: center;
    background: #fff;
}

#id_comment, textarea {
    width: 80%;
}

#id_tags, #id_comment, #id_title, textarea {
    font-size: 1em;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
}

#id_comment:focus, #id_title:focus, #id_tags:focus, input:focus, textarea:focus {
    background: #ffc;
}

#messages {
    border: 1px solid #c90;
    background: #ff9;
}

a {
    color: #AB5603;
    text-decoration: none;
}

a:hover {
    color: #FFE761;
    text-decoration: underline;
}
