{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

{% comment %}
    <h1>{% trans "We are here to do business" %}</h1>
    
    <p>
            We match the right people to the right projects.
            We have project solutions.
    </p>

    <p> 
            You can find programmers, designers, statisticians, systems administrators and software architects here,
            people well-versed in various technologies and languages.  You can also find people with diverse skills
            from audio production to horticulture to scientific glass-blowing. 
    </p>
    <p>
            We work on open source and collaborative projects and provide proprietary business application
            solutions.  We look for contract work and fulltime employment.  We are here to find talented people.
    </p>
    <p>
            We are here to make money with honest business.
    </p>
    
    
    <h2>{% trans "Knowing your Collaborators" %}</h2>
    
   {% endcomment %}
    <p>
This site is open source.  
The code is available, <a href="http://github.com/skyl/skyl.org">http://github.com/skyl/skyl.org</a>
View the issues
<a href="http://skyl.org/projects/project/skyl-dot-org/tasks/">HERE</a>.  
    </p>
    {% if user.is_authenticated %}
<div id="notices"></div>
    {% else %}
    <p>
    If you want to add your own content
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            {% blocktrans %}you can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a>.{% endblocktrans %}
        {% else %}
            {% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
     </p>
    {% endif %}
    
{% endblock %}
